.success-elevated-region {
    background-color: #004d00;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 20px;
    color: white;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    background-color: #2b2a2a9c
}

th {
    background-color: #340070;
    color: white;
}
